@import-normalize;

/* https://colors.lol/viscid */
main {
  background-color: #5b7c99;
  height: 100vh;
}
header {
  padding: 1rem 2rem;
  background-color: #c071fe;
}
footer {
  background-color: #b9ff66;
}

h1,
h2,
h3,
h4,
h5,
header,
footer {
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-family: "Noto Serif", serif;
}

main.landing {
  padding: 3rem;
  background-image: url(../assets/kate-sade-2zZp12ChxhU-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.landing .jumbotron {
  background-color: #e9ecef96;
  padding: 3rem;
}

.landing form {
  text-align: center;
  margin-top: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 2em;
}
